Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  readability-*,
  modernize-*,
  portability-*,
  cppcoreguidelines-*,
  misc-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -performance-avoid-endl,
  -readability-braces-around-statements